* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  position: relative;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 8rem;
}
li {
  list-style: none;
}
a:link {
  text-decoration: none;
  font-family: "Space Mono", monospace;
}
a:visited {
  /* color: white; */
}
a:active {
  /* color: white; */
}

button {
  font-family: "Space Mono", monospace;
}
button:hover {
  cursor: pointer;
}
.custom-flexPad {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}
.custom-pad {
  padding-bottom: 16rem;
}
/* h1 {
  margin: 0 ;
} */
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 5rem;
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
.custom-btn {
  padding: 1rem 2.8rem;
  border-radius: 10rem;
}
.hire-btn {
  background-color: black;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.hire-btn:hover {
  background-color: white;
  border: 1px solid black;
  transition: background-color 0.3s;
  color: black;
}
.headtext {
  font-family: "Space Mono", monospace;
  font-size: 1.2rem !important;
  color: rgb(128, 128, 128);
  margin-bottom: 2rem;
}
.custom-header {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 3rem;
}
#resp-menu-bar {
  display: none;
}

/*  */
.nav-section {
  position: fixed;
  width: 100%;
  z-index: 99;
  border-bottom: 0.1px solid #8080804d;
}
.nav-cell {
  padding-block: 1.2em;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-cell h1 {
  font-size: 3rem;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-cell ul {
  display: flex;
  gap: 2.4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.nav-cell ul a {
  color: black;
}
.nav-cell ul a:hover {
  border-bottom: 2px solid black;
  transition: all 1s ease-out;
}
.nav-cell button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}
.resp-btns {
  font-size: 3.2rem;
}
#open-menu {
  display: none;
  font-size: 4rem;
}
#close-menu {
  display: none;
  color: #78350f;
  font-size: 4rem;
}
/*  */
.main-section {
  padding-top: 8%;
  display: flex;
  /* grid-template-columns:repeat(3,45%); */
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}
.main-left {
  /* width: 100%; */
}
.name {
  line-height: 1;
  margin-bottom: 2rem;
}
.name h1 {
  font-size: 8rem;
  font-weight: 900;
}
.name span {
  color: white;
  -webkit-text-stroke: 1px #80808080;
}
.bio {
  width: 65%;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: black;
}
.portfolio-btn {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
}
.portfolio-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: background-color 0.3s;
  font-weight: 900;
}
.hire-btn2 {
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.hire-btn2:hover {
  background-color: black;
  color: white;
  transition: background-color 0.3s;
}
.main-btn-box {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.main-btn-box button {
  font-family: "Poppins", sans-serif;
}
.main-right {
  width: 100%;
}
.img-box {
  width: 100%;
  border: 2px solid #8080804d;
  border-bottom: 0;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
.img-box img {
  width: 100%;
}
.img-disc {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
  gap: 1rem;
  text-transform: uppercase;
}
.img-disc div {
  border: 0.2rem solid #8080804d;
  padding: 0.5rem;
  border-radius: 1rem;
}
.img-disc div p {
  font-size: 1.2rem;
  text-align: center;
  color: #808080;
  font-family: "Space Mono", monospace;
}
.img-disc span {
  display: block;
  font-size: 5.6rem;
  font-weight: bold;
  line-height: 1;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

/*  */
.about-section {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  justify-content: space-between;
  gap: 4rem;
}
.about-bio {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Space Mono", monospace;
  font-weight: 500;
}
.about-bio span {
  display: block;
  margin-bottom: 1.4rem;
}
.socials {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex-wrap: wrap;
}
.socials a {
  color: black;
  border: 1px solid black;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}
.socials a:hover {
  background-color: black;
  color: white;
  transition: background-color 0.3s;
}
.socials i {
  margin-right: 0.5rem;
}

.about-card {
  background-color: black;
  color: white;
  padding: 3.5rem 3rem;
  border-radius: 4px;
}
.about-card header {
  line-height: 1.2;
  margin-bottom: 2rem;
}
.about-card header h1 {
  font-size: 3.2rem;
  font-weight: 800;
}
.about-card header p {
  font-size: 1.4rem;
  font-family: "Space Mono", monospace;
}
.about-card-info hr {
  border: 1px solid #8080804d;
}
.about-card-info p {
  font-size: 1.2rem;
  padding-block: 1.2rem;
  font-weight: 200;
  letter-spacing: 1px;
  /* font-family: "Space Mono", monospace; */
}
.about-card-info p span {
  font-size: 1.4rem;
  /* font-family: "Poppins", sans-serif; */
}
.about-card-info div i {
  font-size: 2.4rem;
  color: black;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 2px;
  font-weight: 900;
}
.about-card-info-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.about-card-info-box span {
  display: block;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/*  */
.skills {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content: space-between;
}
.skills-section header h1 {
  line-height: 1;
}
.skill-header {
  font-size: 5rem;
  font-weight: 900;
}
.skills-section header {
  margin-bottom: 3rem;
}
.tools-txt {
  color: white;
  -webkit-text-stroke: 1px #80808080;
}
.skills-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-skill {
  border: 1px solid #80808080;
  padding: 2rem 3rem;
  border-radius: 1rem;
}
.main-skill i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border: 1px solid #80808080;
  border-radius: 0.2rem;
  padding: 0.6rem 2rem;
  margin-bottom: 1rem;
}
.main-skill h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.main-skill p {
  font-size: 1.6rem;
  color: gray;
}
.tools2 {
  display: none;
}
.tools h3,
.tools2 h3 {
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.tools ul,
.tools2 ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.tools ul li,
.tools2 ul li {
  font-size: 1.1rem;
  padding: 0.5rem 1.4rem;
  border: 1px solid #80808080;
  border-radius: 0.2rem;
  font-weight: 300;
  letter-spacing: 0.3px;
}
.skills-bar {
  display: grid;
  grid-row-gap: 4rem;
}
.skills-bar label {
  display: block;
  font-size: 1.8rem;
  font-family: "Space Mono", monospace;
}
.skills-bar div label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
meter {
  width: 100%;
  font-size: 0.3rem;
}
meter::-webkit-meter-bar {
  border-radius: 100px;
  background-color: black;
}
meter::-webkit-meter-optimum-value {
  background: black;
  border-radius: 100px;
}
/*  */
.project-section header {
  line-height: 1;
  margin-bottom: 3rem;
}
.project-section header h1 {
  font-size: 5rem;
  font-weight: 900;
}
.project-section header h1:last-child {
  color: white;
  -webkit-text-stroke: 1px #80808080;
}
/*  */
.consult-section {
  background-color: black;
  color: white;
  padding-block: 6rem;
  display: grid;
  justify-content: center;
  text-align: center;
}
.consult-section header {
  font-size: 1.2rem;
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 1.2rem;
  letter-spacing: 1px;
}
.consult-section h1 {
  line-height: 1;
  font-size: 6rem;
  font-weight: 900;
}
.last {
  margin-bottom: 2rem;
}
.least {
  margin-bottom: 4rem !important;
}
.consult-section p {
  line-height: 1;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.consult-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.consult-btn-box a {
  padding: 1.6rem 3rem;
  border-radius: 10rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}
.whatsapp-btn {
  color: black;
  background-color: white;
}
.email-btn {
  color: white;
  border: 1px solid #80808080;
}
/*  */
.footer-section {
  padding-block: 6rem 4rem;
}
.footer-top {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
  gap: 6rem;
  padding-bottom: 6rem;
}
.footer1 h2 {
  font-size: 2.8rem;
  line-height: 1;
  margin-bottom: 1rem;
}
.footer1 p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #808080;
}
.footer-icon-pack {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.footer-icon-pack a {
  font-size: 2rem;
  color: #808080;
}
.footer-icon-pack a:hover {
  color: black;
  transition: color 0.3s;
}
.footer2,
.footer3 {
  font-family: "Space Mono", monospace;
}
.footer2 h3 {
  margin-bottom: 2.4rem;
  font-weight: 200;
  font-size: 1rem;
  color: black;
}
.footer3 h3 {
  margin-bottom: 2.4rem;
  font-weight: 200;
  font-size: 1rem;
  color: black;
}
.footer2 a {
  color: #808080;
}
.footer2 a:hover {
  color: black;
  transition: color 0.3s;
}
.footer2 ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #808080;
  font-size: 1.2rem;
}
.footer3 ul {
  color: #808080;
  font-size: 1.2rem;
}
.footer-section hr {
  border: 1px solid hsla(0, 0%, 50%, 0.2);
}
.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  text-transform: uppercase;
  font-family: "Space Mono", monospace;
  color: #808080;
  font-size: 1rem;
  letter-spacing: 1px;
}

/*  */
@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
  .container {
    padding-inline: 4rem;
  }
  .custom-flexPad {
    gap: 4rem;
  }
  .custom-pad {
    padding-bottom: 8rem;
  }
  .footer-top {
    gap: 4rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
  .container {
    padding-inline: 2rem;
  }
  .name h1 {
    font-size: 7rem;
  }
  .main-section {
    padding-top: 9%;
    gap: 3rem;
    /* display: grid;
    grid-template-columns: repeat(1, 100%); */
  }
  .portfolio-btn,
  .hire-btn2 {
    font-size: 1.6rem;
  }
  .bio {
    width: 85%;
  }
  .about-bio {
    font-size: 2rem;
  }
  .main-right {
    width: 150%;
  }
  .headtext {
    font-size: 1.2rem !important;
  }
  .skills {
    grid-template-columns: repeat(2, 48%);
  }
}

@media (max-width: 480px) {
  .nav-section {
    position: static;
    border-bottom: 0;
  }
  .nav-cell h1 {
    font-size: 3.2rem;
  }
  .nav-cell ul,
  .hire-btn {
    display: none;
  }
  #open-menu {
    display: block;
  }
  #resp-menu-bar {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 85%;
    transform: translateX(-500px);
    transition: transform 0.7s ease;
    z-index: 99;
  }
  .menu-cell ul a {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: grid;
    justify-content: center;
  }
  .menu-cell ul {
    font-size: 3rem;
    line-height: 8rem;
    margin-bottom: 3rem;
  }
  .resp-hire-btn {
    background-color: black;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif !important;
  }
  .main-section {
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 5rem;
  }
  .main-right {
    width: 90%;
    display: grid;
    justify-self: center;
  }
  .about-section,
  .project-section,
  .footer-top {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
  .skills {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    row-gap: 3rem;
  }
  .tools {
    display: none;
  }
  .tools2 {
    display: block;
  }
  .footer1 p {
    font-size: 2rem;
  }
  .footer-icon-pack a {
    font-size: 3rem;
  }
  .footer2 h3,
  .footer3 h3 {
    font-size: 1.6rem;
  }
  .footer2 ul,
  .footer3 ul {
    font-size: 1.6rem;
    line-height: 2;
  }
  .copyright {
    gap: 1.6rem;
    align-items: center;
    flex-direction: column;
    font-size: 1.4rem;
  }
}
